Choose the form
<ul>
    <li>
        <a href="/sanmateo/ar_template_pc_1">AR Template PC 1</a>
    </li>
    <li>
        <a href="/sanmateo/ar_template_pc_2">AR Template PC 2</a>
    </li>
    <li>
        <a href="/sanmateo/agenda_report_form">Agenda Report Form</a>
    </li>
    <li>
        <a href="/sanmateo/agenda_report_form_CCD_AdvancedPlanning">Agenda Report Form: CDD - Advanced Planning</a>
    </li>
    
</ul>