<style>
    img.center {
        display: block;
        margin: 0 auto;
    }
</style>
    
<div>
    <div style="text-align: center; margin-left:-6px">
        <img alt="submit" src="/content/images/default/submit.png" style="width: 120px; height: 119px;" />
    </div>
    <br>
    <p style="text-align: center;">
        <span style="font-size:36px;">
            <span style="color:#808080;">
                <span style="font-family:lucida sans unicode,lucida grande,sans-serif;">
                    Thank You!
                </span>
            </span>
        </span>
    </p>
    <p style="text-align: center;">
        <span style="font-size:20px;">
            <span style="color:#808080;">
                <span style="font-family:lucida sans unicode,lucida grande,sans-serif;">
                    Your request was submitted.
                </span>
            </span>
        </span>
    </p>
    <br />
    <br />
    <p style="text-align: center;">
        <span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif;">
            <span style="font-size:12pt;">
                <a href="/tasks/Tasks" target="_parent">
                    View My Tasks
                </a>
                <br />
                <br />
                <!--CHANGE FORM VALUE-->
                <a href="/portal/newform/5" target="_parent">
                    Submit another request
                </a>
            </span>
        </span>&nbsp;
    </p>
</div>