Choose the form
<ul>
    <li>
        <a href="/goodyear/Staff_Report_New">Staff Report New</a>
    </li>
    <li>
        <a href="/goodyear/Staff_Report_P&Z_NEW">Staff_Report_P&Z_NEW</a>
    </li>
    <li>
        <a href="/goodyear/Communication_Items">Communication Items</a>
    </li>
</ul>