Choose the form
<ul>
    <li>
        <a href="/goodyear/City_Council_Action_request">City Council Action Request (CAR)</a>
    </li>
    <li>
        <a href="/goodyear/P&ZCity_Council_Action_request">P&Z City Council Action Request (CAR)</a>
    </li>
    <li>
        <a href="/goodyear/Communication_City_Council_Action_request">Communication City Council Action Request (CAR)</a>
    </li>
    <li>
        <a href="/goodyear/CommunityFacilitiesDistrict">Community Facilities District (CFD)  </a>
    </li>
</ul>